<!DOCTYPE html>
<html>
  <head>
    <title>Are we meeting yet?</title>
    <meta charset="utf-8">
    <style>
      body {
        text-align: center;
        font-family: "Lucida Grande", "Segoe UI", "Roboto", "Helvetica", sans-serif;
        text-rendering: optimizelegibility;
        font-size: 1.8em;
        font-weight: bold;
      }
      div#wrap {
        overflow: auto;
        margin: 150px auto;
        text-align: left;
        width: 850px;
      }
      p {
        margin: 30px;
      }
      span.label {
        width: 120px;
        display: block;
        float: left;
        color: #999;
      }
    </style>
  </head>
  <body>
    
    <div id="wrap">
      <p id="title" style="display: none;">
        <span class="label">Title</span>
        <span class="val"></span>
      </p>
      <p id="UTC">
        <span class="label">UTC</span>
        <span class="val"></span>
      </p>
      <p id="local">
        <span class="label">Local</span>
        <span class="val"></span>
      </p>
      <p id="delta">
        <span class="label">Left</span>
        <span class="val"></span>
      </p>
    </div>
    
    <script>
      
      var ZONES = {{ zones.zones|json }};
      var RULES = {{ zones.rules|json }};
      
      function parseURL(url) {
        
        var a =  document.createElement('a');
        a.href = url;
        return {
          source: url,
          protocol: a.protocol.replace(':',''),
          host: a.hostname,
          port: a.port,
          query: a.search,
          params: (function(){
            var ret = {}, s = {};
            var seg = a.search.replace(/^\?/,'').split('&');
            for (var i = 0; i < seg.length; i++) {
              if (!seg[i]) { continue; }
              s = seg[i].split('=');
              ret[s[0]] = s[1];
            }
            return ret;
          })(),
          file: (a.pathname.match(/\/([^\/?#]+)$/i) || [,''])[1],
          hash: a.hash.replace('#', ''),
          path: a.pathname.replace(/^([^\/])/, '/$1'),
          relative: (a.href.match(/tps ? : \/\/[^\/]+(.+)/) || [, ''])[1],
          segments: a.pathname.replace(/^\//, '').split('/')
        };
        
        
      }
      
      function pad(x) {
        if (x >= 0) {
          return x < 10 ? '0' + x : x.toString();
        } else {
          return x < -9 ? x : '-0' + Math.abs(x);
        }
      }

      var scales = {
        'year': 365 * 24 * 60 * 60,   
        'month': 30 * 24 * 60 * 60,
        'week': 7 * 24 * 60 * 60,
        'day': 24 * 60 * 60,
        'hour': 60 * 60,
        'minute': 60,
        'second': 1
      };
  
      function relTime(x, y) {
        
        var delta = Math.floor((y.getTime() - x.getTime()) / 1000);
        if (delta < 0) {
          return 'None';
        }
        
        for (unit in scales) {
          var s = scales[unit];
          var n = delta / s;
          if ((unit == 'hour') && (n < 12)) {
            var h = Math.floor(n);
            var m = Math.floor(n % 1 * 60);
            var s = Math.floor(n % (1 / 60) * 3600);
            var str = h + ':' + pad(m) + ':' + pad(s);
            return str + ' from now';
          }
          if ((n >= 2) || (s == 1)) {
          	var str = Math.floor(n) + ' ' + unit + (n > 1 ? 's' : '');
          	return str + ' from now';
          }
        }
        
      }
      
      function refresh(d) {
        var relString = relTime(new Date(), d);
        document.querySelector('p#delta span.val').innerHTML = relString;
      }
      
      var DAYS = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
      var MONTHS = [
        'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
        'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
      ];
      
      function format(d, offset) {
        
        d = new Date(d.getTime() + offset * 60 * 1000);
	    var wd = d.getUTCDay();
    	var dn = d.getUTCDate();
    	var m = d.getUTCMonth();
    	var y = d.getUTCFullYear();
    	var H = d.getUTCHours();
    	var M = d.getUTCMinutes();
    	var S = d.getUTCSeconds();
    	
    	if (dn == 1) {
    	  var suffix = 'st';
    	} else if (dn == 2) {
    	  suffix = 'nd';
    	} else if (dn == 3) {
    	  suffix = 'rd';
    	} else {
    	  suffix = 'th';
    	}
    	
    	var ds = DAYS[wd] + ', ' + dn + suffix + ' of ' + MONTHS[m] + ' ' + y;
    	var ts = ' at ' + pad(H) + ':' + pad(M) + ':' + pad(S);
    	
    	if (offset) {
    	  var delta = pad(offset / 60) + ':' + pad(offset % 60);
    	  ts = ts + ' [' + (offset > 0 ? '+' : '') + delta + ']';
    	}
    	
    	return ds + ts;
    	
      }
      
      function digit(s) {
        var c = s.charCodeAt(0);
        return (c > 47) && (c < 58);
      }
      
      function capitalize(s) {
        return s.substr(0, 1).toUpperCase() + s.substr(1);
      }
      
      function procLiteral(bits) {
        
        var dbits = bits[0].split('-');
        var d = new Date();
        d.setUTCFullYear(dbits[0]);
        d.setUTCMonth(dbits[1] - 1);
        d.setUTCDate(dbits[2]);
        
        var tbits = bits[1].split(':');
        d.setUTCHours(tbits[0]);
        d.setUTCMinutes(tbits[1]);
        d.setUTCSeconds(0);
        
        return d;
        
      }
      
      function procWeekly(bits) {
        
        var day = bits[0].substr(1);
        var idx = DAYS.indexOf(capitalize(day));
        
        var now = new Date(Date.now());
        now.setUTCSeconds(0);
        var t = pad(now.getUTCHours()) + ':' + pad(now.getUTCMinutes());
        if ((now.getUTCDay() != idx) || (t >= bits[1])) {
          var diff = (idx - now.getUTCDay()) % 7;
          diff = diff <= 0 ? diff + 7 : diff;
          now = new Date(now.getTime() + diff * 24 * 60 * 60 * 1000);
        }
        
        var tbits = bits[1].split(':');
        now.setUTCHours(tbits[0]);
        now.setUTCMinutes(tbits[1]);
        return now;
        
      }
      
      var PARTS = ["Europe", "Australia", "Africa", "Asia", "Antarctica", "Indian", "Atlantic", "Pacific", "America"];
      var LOCAL = {};
      for (var key in ZONES) {
        var local = key.split('/')[1];
        LOCAL[local.toLowerCase()] = key;
      }
      
      function zoneRelative(zone, d) {
        
        if (zone == 'UTC') {
          return d;
        }
        
        if (ZONES[zone].length > 1) {
          alert('This code has not been tested! (zone-multi)');
        }
        
        var active = ZONES[zone][ZONES[zone].length - 1];
        var zoneoff = active.o;
        console.log('ZONE-OFFSET: ' + zoneoff);
        d = new Date(d.getTime() - zoneoff * 1000);
        
        var changes = [];
        var y = d.getUTCFullYear();
        var dstoff = 0;
        for (var i in RULES[active.r]) {
          
          console.log('RULE: ' + JSON.stringify(RULES[active.r][i]));
          var rule = RULES[active.r][i];
          if (parseInt(rule[0], 10) > y) {
            continue;
          }
          
          if (rule[1] != 'max' && parseInt(rule[1], 10) < y) {
            continue;
          }
          
          if (rule[2] != '-') {
            alert('This code has not been tested! (year-type)');
          }
          
          // Months handling
          
          var rm = MONTHS.indexOf(rule[3]) + 1;
          var m = d.getUTCMonth() + 1;
          console.log('COMPARE: ' + m + ' ~ ' + rm);
          if (m < rm) {
            continue;
          } else if (m > rm) {
            dstoff = rule[6];
            console.log('DST-OFFSET: ' + dstoff);
            continue;
          }
          
          // Find the transition day
          
          var cur = new Date(Date.UTC(y, m - 1, 1, 0, 0));
          console.log('FIRST: ' + cur);
          var wd = cur.getUTCDay();
          if (rule[4].substr(0, 4) == 'last') {
            var idx = 40;
            var target = DAYS.indexOf(rule[4].substr(4));
          } else {
            var parts = rule[4].split('>=');
            idx = parseInt(parts[1], 10);
            target = DAYS.indexOf(parts[0]);
          }
          
          console.log('IDX: ' + idx + ' TARGET: ' + target);
          if (wd != target) {
            cur = new Date(cur.getTime() + 86400 * (7 - wd) * 1000);
          }
          
          console.log('MOVED-DAY: ' + cur);
          while (cur.getUTCMonth() == m - 1 && cur.getUTCDate() < idx) {
            cur = new Date(cur.getTime() + 86400 * 7 * 1000);
            console.log('LOOPED: ' + cur);
          }
          
          if (cur.getUTCMonth() == m) {
            cur = new Date(cur.getTime() - 86400 * 7 * 1000);
            console.log('WOUND-BACK: ' + cur);
          }
          
          console.log('TRANS-DAY: ' + cur);
          console.log('COMPARE-DAYS: ' + d.getUTCDate() + ' ~ ' + cur.getUTCDate());
          if (d.getUTCDate() < cur.getUTCDate()) {
            continue;
          } else if (d.getUTCDate() > cur.getUTCDate()) {
            dstoff = rule[6];
            console.log('DST-OFFSET: ' + dstoff);
            continue;
          }
          
          // Find the transition time
          
          var ttime = rule[5];
          console.log('FLOO: ' + ttime.charAt(ttime.length - 1));
          if (['w', 'u', 's'].indexOf(ttime.charAt(ttime.length - 1)) >= 0) {
            var type = ttime.charAt(ttime.length - 1);
            ttime = ttime.substr(0, ttime.length - 1);
          } else {
            type = 'w';
          }
          
          console.log('TIME-TYPE: ' + ttime + ' ' + type);
          parts = ttime.split(':');
          var sdiff = parseInt(parts[0], 10) * 3600;
          if (parts.length > 1) {
            sdiff += parseInt(parts[1], 10) * 60;
            if (parts.length > 2) {
              sdiff += parseInt(parts[2], 10) * 60;
            }
          }
          
          if (type == 'u') {
            cur = new Date(cur.getTime() + sdiff * 1000);
          } else if (type == 's') {
            cur = new Date(cur.getTime() + (sdiff - zoneoff) * 1000);
          } else {
            cur = new Date(cur.getTime() + (sdiff - zoneoff - dstoff) * 1000);
          }
          
          console.log('TRANS-TIME: ' + cur);
          console.log('MEETING-TIME: ' + d);
          if (d.getTime() < cur.getTime()) {
            continue;
          } else {
            dstoff = rule[6];
            console.log('DST-OFFSET: ' + dstoff);
            continue;
          }
          
          // Still moderately fucked up at transition time
          // Particularly when transition is forward?
          
        }
        
        return new Date(d.getTime() - dstoff * 1000);
      
      }
      
      function oldWeek(x) {
        return x.charAt(0) == 'W' && x.length == 4 && x[0] != 'Wake';
      }
      
      function showInfo(url) {
        
        var bits = parseURL(url).path.split('/');
        bits.shift();
		
		if (digit(bits[0])) {
		  var zone = 'UTC';
          var d = procLiteral(bits.slice(0, 2));
          var title = decodeURIComponent(bits[2]);
        } else if (oldWeek(bits[0])) {
          zone = 'UTC';
          d = procWeekly(bits.slice(0, 2));
          title = decodeURIComponent(bits[2]);
        } else {
          
          if (PARTS.indexOf(bits[0]) >= 0) {
            zone = decodeURIComponent(bits[0]) + '/' + decodeURIComponent(bits[1]).replace(' ', '_');
            bits.shift();
          } else {
            zone = decodeURIComponent(bits[0]).replace(' ', '_');
            zone = LOCAL[zone.toLowerCase()] || zone;
          }
          
          if (oldWeek(bits[1])) {
            d = procWeekly(bits.slice(1, 3));
          } else {
            d = procLiteral(bits.slice(1, 3));
          }
          
          title = decodeURIComponent(bits[3]);
          
        }
        
        d = zoneRelative(zone, d);
        if (title != 'undefined') {
          document.querySelector('p#title span.val').innerHTML = title;
          document.querySelector('p#title').style.display = 'block';
          document.title = title + ' - Are we meeting yet?';
        }
        
        document.querySelector('p#UTC span.val').innerHTML = format(d, 0);
        document.querySelector('p#local span.val').innerHTML = format(d, -d.getTimezoneOffset());
        
        refresh(d);
        window.setInterval(refresh, 100, d);
        
      }
      
      showInfo(document.location);
      
    </script>
  </body>
</html>
